:root {
  --color-primary: #ff0077;
  --color-secondary: #313131;
  --color-body: #ebebeb;
  --color-paragraph: #6e6e6e;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h5,
h3 {
  color: var(--color-primary);
  letter-spacing: 2px;
}
P {
  color: var(--color-paragraph);
  font-family: "Lora", serif;
}
/* Components */
.btn {
  border: 3px solid #5f5f5f;
  padding: 1.5rem 2.5rem;
  white-space: nowrap;
  transition: border 0.5s ease-out;
}

.btn:hover {
  border: 3px solid var(--color-primary);
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  color: var(--color-body);
}

.container {
  width: 100%;

  min-height: 100vh;
  padding: 0 8%;
  background-color: #111025;
}

/* Home section */
#home {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* Navbar */

.fa-bars {
  width: 2.5rem;
  cursor: pointer;
  padding: 1.5rem 0;
  color: var(--color-primary);
}
.logo {
  margin: 1rem 2rem;
  font-size: 2.3rem;
  letter-spacing: 5px;
}
#home {
  position: fixed;
  z-index: 1;
}
.hamburger,
nav {
  display: flex;
  background: black;
  width: 200px;
  max-width: 100%;
  padding-left: 2rem;
}
nav {
  display: none;
  height: 200px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: margin 0.5s;
}
nav ul li a:hover {
  color: var(--color-primary);
  margin-left: 10px;
}

/* */

/* Intro*/
#intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: space-between;
  text-align: center;
}
.intro-body {
  margin: auto;
}
.intro-body a {
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: 3px;
  color: white;
  font-weight: 600;
}

.intro-body h1 {
  margin-top: 1rem;
  line-height: 4rem;
}
.icons {
  padding: 2rem 0;
}
.icons a {
  color: white;
  padding: 0 1.5rem;
  font-size: 2.5rem;
  transition: color 0.6s;
}
.icons a:hover {
  color: var(--color-primary);
}
.icons ul {
  display: flex;
  list-style: none;
  width: 100%;
  text-align: center;
}
.intro-position {
  margin: 2rem 0 4rem 0;
  font-size: 1.3rem;
  font-family: "Lora", serif;
  letter-spacing: 3px;
  line-height: 2.5rem;
  color: white;
}

@media screen and (min-width: 600px) {
  .intro-position .front::before,
  .intro-position span::after {
    content: " | ";
  }
  .intro-body h1 {
    font-size: 6.7rem;
    line-height: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .intro-body h1 {
    font-size: 7rem;
    line-height: 6rem;
  }
  .intro-body a {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .intro-position {
    font-size: 1.5rem;
  }
  .icons a {
    font-size: 3.2rem;
    padding-top: 0 2rem;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}

/* About me section */

#about {
  padding: 11.2rem 5%;
  background: #fff;
}
.about-me {
  text-align: center;
}
.about-me h1 {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.5rem;
}
.about-me h5 {
  font-size: 1.4rem;
}
.about-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-img img {
  width: 100px;
  height: 102px;
  border-radius: 50%;
  margin: 3rem 0;
}
.about-img p {
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.8;
}

.profile p {
  margin-left: 0 !important;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.8;
}

.about-profile ul {
  list-style: none;
}
.about-profile strong {
  color: var(--color-secondary);
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.about-profile span {
  color: #888;
  font-size: 1.4rem;
}
#about h3 {
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0;
  color: var(--color-secondary);
}
.intro-list {
  margin-top: 2rem;
}
.box-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box-icons .boxes {
  width: 120px;
  height: 120px;
  margin: 0.5rem 0.5rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 4px 6px 5px -1px rgba(0, 0, 0, 0.25);
  transition: transform 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-icons .boxes:hover {
  transform: scale(1.4) translate(1px);
}

.about-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
}
.about-btn a {
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.btns {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 4rem;
  border: 0;
  text-align: center;
  white-space: nowrap;
  margin: 1rem auto;
  cursor: pointer;
}
.btn--outline {
  border: 3px solid var(--color-secondary);
  color: var(--color-secondary);
  transition: border 0.5s ease-out;
}
.btn--outline:hover {
  border: 3px solid var(--color-primary);
}
.btn--secondary {
  background: var(--color-secondary);
  color: white;
}
.btns--block {
  width: 100%;
  max-width: 100%;
  display: inline-block;
}
@media screen and (min-width: 600px) {
  .about-profile strong {
    font-size: 1.6rem;
  }
  .about-me h1 {
    font-size: 3.6rem;
  }
  .about-me h5 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .about-me {
    text-align: center;
  }
  .about-img {
    margin-top: 4rem;
    flex-direction: row;
  }

  .about-img p,
  .about-profile p {
    text-align: left;
    font-size: 1.9rem;
    margin-left: 2rem;
  }
  .about-header {
    max-width: 1000px;
    margin: auto;
  }

  .about-profile h3 {
    text-align: center;
    font-size: 1.8rem;
  }
  .box-icons {
    margin: auto;
    width: 80%;
  }
}
@media only screen and (min-width: 578px) and (max-width: 619px) {
  .box-icons {
    width: 99%;
    margin: auto;
  }
}
@media screen and (min-width: 809px) {
  .about-profile {
    width: 50%;
  }
  .skills {
    width: 50%;
  }
  .col-2 {
    display: flex;
  }
  .about-btn {
    flex-direction: row;
    width: 600px;
    margin: 7rem auto;
  }
  .btns {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1084px) {
  .box-icons {
    margin: auto;
    width: 75%;
  }
}

/* Resume */
#resume {
  background: var(--color-body);
  padding: 11.2rem 5%;
  min-height: 100vh;
}

#resume h1 {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 4rem;
  font-weight: 600;
}
#resume h5 {
  font-size: 1.4rem;
}
.resume-header {
  text-align: center;
}
.timeline-items {
  max-width: 1300px;
  margin: 10rem auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #d3d3d3;
  left: calc(50% - 0.1rem);
}
.timeline-item {
  margin-bottom: 4rem;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 3rem);
  text-align: left;
}
.timeline-item:nth-child(odd) .timeline-date {
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 3rem);
}
.timeline-dot {
  height: 50px;
  width: 50px;
  background: var(--color-secondary);
  position: absolute;
  left: calc(50% - 25px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-dot i {
  font-size: 1.5rem;
}
.timeline-date {
  margin: 0.6rem 2rem;
  font-weight: 600;
  color: var(--color-secondary);
}
.timeline-content {
  padding: 3rem;
  border-radius: 8px;
}
.timeline-content h3 {
  font-size: 2.5rem;
  margin: 0 0 1rem;
  color: var(--color-secondary);
}
.timeline-content p {
  font-size: 1.8rem;
  line-height: 1.5;
}

@media screen and (max-width: 400px) {
  .timeline-dot {
    left: calc(1% - 15px);
  }
  .timeline-content {
    padding: 0 1rem;
  }
  .timeline-content h3 {
    font-size: 2rem;
  }
  .timeline-date {
    font-size: 1.5rem;
    margin: 1.5rem 1rem;
  }
}
@media screen and (max-width: 730px) {
  #resume h1 {
    font-size: 2.6rem;
  }
  .timeline-items::before {
    left: 0.7rem;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 3.7rem;
  }
  .timeline-dot {
    left: calc(1% - 18px);
  }
  .timeline-item:nth-child(odd) .timeline-date {
    text-align: left;
  }
}
@media screen and (max-width: 1022px) {
  #resume h1 {
    font-size: 2.6rem;
  }
  .timeline-content h3 {
    font-size: 1.9rem;
    margin: 0 0 1rem;
  }
  .timeline-content p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

/* Portfolio */
#portfolio {
  padding: 11.2rem 5%;
  min-height: 100vh;
}
.section-intro h1,
h5 {
  text-align: center;
}
.section-intro h1 {
  font-size: 2.6rem;
  color: var(--color-secondary);
  line-height: 2.3rem;
}
.section-intro h5 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 8rem;
}
.proj-box {
  position: relative;
  width: 500px;
  margin: 0.5rem 0.5rem;
}
.proj-box img {
  display: block;
  width: 100%;
  min-height: 100%;
  border-radius: 5px;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.815);
  color: white;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.35s;
}

.img-overlay:hover {
  opacity: 1;
  border-radius: 5px;
  cursor: pointer;
}
.img-overlay > * {
  transform: translateX(-20px);
  transition: transform 0.35s;
}
.img-overlay:hover > * {
  transform: translateX(0);
}
.proj-description {
  margin: auto;
  max-width: 100%;
  padding: 0.5rem 2rem;
}
.proj-description a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  border: 1px solid var(--color-primary);
  padding: 0.3rem 2rem;
  font-weight: normal;
  transition: background 0.25s;
}
.proj-description a:hover {
  background: var(--color-primary);
}
.proj-description .img-title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.proj-description p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.2rem;
  color: white;
}

@media screen and (min-width: 500px) {
  .proj-description .img-title {
    font-size: 3rem;
  }
  .section-intro h1 {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .proj-description p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 1rem 0;
  }
  .proj-description a {
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
  }
}

/* Footer */
#footer {
  background: #151515;
  padding: 11.2rem 5% 3rem 5%;
  min-height: 60vh;
}
#footer h1 {
  color: white;
  margin-top: 1rem;
}
#footer p {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}
#footer h5 {
  margin: 0;
}
.container-3 {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.email-me,
.call-me {
  margin-top: 3rem;
}
.container-2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.container-2 span {
  color: var(--color-paragraph);
  font-size: 1.4rem;
  font-weight: normal;
}
.container-2 .dyoll {
  letter-spacing: 1px;
}

.footer-icons .intro-social {
  display: flex;
  list-style: none;
}
.footer-icons .intro-social li {
  padding: 0 1rem;
}
.footer-icons .intro-social li a {
  color: white;
  font-size: 2rem;
}
@media screen and (min-width: 772px) {
  #footer {
    padding-bottom: 0;
  }
  .container-2 {
    max-width: 650px;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem auto;
  }
  #footer h5 {
    font-size: 1.3rem;
  }
  #footer p {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
  }
  .container-3 {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 5rem auto;
  }
  .email-me,
  .call-me {
    margin-top: 0;
  }
}
@media screen and (min-width: 1023px) {
  .container-3 i {
    font-size: 2.8rem;
  }
  #footer h5 {
    margin: 1.5rem;
  }
  .container-2 {
    max-width: 700px;
  }
}
@media screen and (min-width: 1026px) {
  .container-2 {
    max-width: 400px;
  }

  .container-3 i {
    font-size: 3rem;
  }
  #footer h5 {
    margin: 1.5rem;
  }
}

/* To top button */
.to-top {
  background: var(--color-primary);
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 6.6rem;
  height: 6.6rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.35s;
  pointer-events: none;
  opacity: 0;
}
.to-top:hover {
  background: black;
}
.to-top.active {
  bottom: 0;
  pointer-events: auto;
  opacity: 1;
}
